@import "@style/theme.scss";

$title-bar-font-size: $h1-font-size;
$title-bar-padding: .5rem;
$title-bar-height: $title-bar-font-size + 2 * $title-bar-padding;

.title-bar {
    display: table;
    width: 100%;
    background-color: $title-bar-color-background;
    -webkit-app-region: drag;

    .inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: $title-bar-height;
        font-weight: bold;
        font-family: 'Cutive Mono';
        font-size: $title-bar-font-size;
    }
}
