.fix-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 20rem;

    > * {
        width: 50%;
        flex-basis: auto;
        flex-shrink: 1;
        flex-grow: 1;
    }

    table {
        user-select: text;
        
        td, th {
            text-align: left;
        }
    }
}
