@import '~@node_modules/normalize.css/normalize.css';
@import '~@style/theme';
@import '~@components/side-bar/index';
@import '~@components/title-bar/index';

$app-header-height: $title-bar-height;
$app-content-height: calc(100vh - #{$app-header-height});

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    outline: 0;
}

:root {
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
    overflow: hidden;
    color: $font-color-default;
    font-family: 'Mallanna';
    font-size: $font-size-default;
}

#app {
    background-color: $app-color-background;
    height: 100vh;

    main {
        height: $app-content-height;
        margin-top: $app-header-height;
        margin-left: $side-bar-width;
        overflow: auto;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
}
