@import '~@style/theme.scss';
@import '~@components/title-bar/index.scss';

$side-bar-entry-padding: 1em;
$side-bar-entry-width: 2em;
$side-bar-width: $side-bar-entry-width + 2 * $side-bar-entry-padding;

.side-bar {
    width: $side-bar-width;
    height: 100%;
    background-color: $side-bar-color-background;
    margin: 0;
    padding: 0;
    position: fixed;
    
    > li {
        width: $side-bar-width;
        
        list-style-type: none;
        cursor: pointer;

        a {
            display: block;
            padding: $side-bar-entry-padding;
            text-decoration: none;

            &:hover {
                background-color: $side-bar-color-hover;
            }

            &:active {
                background-color: $side-bar-color-active;
            }

            &.active {
                background-color: $side-bar-color-current;
            }
        }
    }
}
