.navaid-search {
    display: flex;
    flex-direction: row;
}

.navaid-search > div, .navaid-button-row {
    margin: .5rem;
}

.navaid-search-result {
    table {
        th {
            font-weight: bold;
        }
        
        td {
            min-width: 5rem;
        }
        
        .id {
            cursor: pointer;
        }
    }
}
