/* latin-ext */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(~@fonts/m8JWjfRfY7WVjVi2E-K9H6RMTm663A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(~@fonts/m8JWjfRfY7WVjVi2E-K9H6RCTm4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* telugu */
@font-face {
  font-family: 'Mallanna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mallanna'), url(~@fonts/hv-Vlzx-KEQb84YaDFwoGTVAVg.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Mallanna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mallanna'), url(~@fonts/hv-Vlzx-KEQb84YaDFw0GTU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* telugu */
@font-face {
  font-family: 'NTR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NTR'), url(~@fonts/RLpzK5Xy0ZjSA2Jt1TA.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'NTR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NTR'), url(~@fonts/RLpzK5Xy0ZjSH2Jt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
