@import './palette';
@import './fonts';

/* Fonts */
$font-color-default: #111;
$font-size-default: 16px;

$font-monospace: 'Cutive Mono';

/* Main UI elements */
$app-color-background: $color-purple;

$title-bar-color-background: $color-salmon;

$view-color-background: #ffffffa0;

$side-bar-color-background: $color-navy;
$side-bar-color-active: lighten($color-navy, 10%);
$side-bar-color-hover: lighten($color-navy, 20%);
$side-bar-color-current: $view-color-background;

$h1-font-size: 1.5rem;
$h2-font-size: 1.2rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$immutable-text-widget-background-color: #ffffff88;

@import './ui';
