/* Generic UI styling */

@mixin immutable-text-widget {
    user-select: text;
    background-color: $immutable-text-widget-background-color;
}

@mixin widget {
    min-width: 5rem;
    height: 2.5rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

.indented {
    padding-left: 1em;
}

.view {
    background-color: $view-color-background;
    min-height: 100%;
    padding: 2rem;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cutive Mono";
}

label,
input,
select {
    display: block;
}

label {
    padding: 0.25rem;
}

input,
select,
button {
    @include widget;
}

table {
    margin: 0.25rem;

    tr > td {
        padding: 0.25rem;
    }
}
