.overlay {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffa;

    .overlay-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}
